<div>
  <input
    type="text"
    placeholder="Title"
    #txtTitle
    [value]="itemsService.title()"
    (input)="itemsService.title.set(txtTitle.value)"
  />
  <input
    type="text"
    placeholder="Description"
    #txtDescription
    [value]="itemsService.description()"
    (input)="itemsService.description.set(txtDescription.value)"
  />
  <div>
    <label for="isAvailable"
      >isAvailable
      <input
        type="checkbox"
        id="isAvailable"
        #txtIsAvailable
        [value]="itemsService.isAvailable()"
        (input)="itemsService.isAvailable.set(txtIsAvailable.checked)"
      />
    </label>
  </div>
  <button (click)="itemsService.addCharacter()">Add</button>
</div>
<hr />

<item-list
  [items]="itemsService.items()"
  (onDeleteItem)="itemsService.deleteItem($event)"
></item-list>
