<div>
  <input
    type="text"
    placeholder="Title"
    #txtTitle
    [value]="title()"
    (input)="title.set(txtTitle.value)"
  />
  <input
    type="text"
    placeholder="Description"
    #txtDescription
    [value]="description()"
    (input)="description.set(txtDescription.value)"
  />
  <div>
    <label for="isAvailable"
      >isAvailable
      <input
        type="checkbox"
        id="isAvailable"
        #txtIsAvailable
        [value]="isAvailable()"
        (input)="isAvailable.set(txtIsAvailable.checked)"
      />
    </label>
  </div>
  <button (click)="addCharacter()">Add</button>
</div>
<hr />

<item-list [items]="items()" (onDeleteItem)="deleteItem($event)"></item-list>
